

<nav>
    <div class="nav-wrapper  black darken-4">
      <div class="container">
        <a href="#" class="brand-logo center">ADMIN</a>
      </div>
    </div>
</nav>
<!----
<app-employee></app-employee>  

<nav>
  <div class="nav-wrapper  black darken-4">
    <div class="container">
      <a href="#" class="brand-logo center">ROL</a>
    </div>
  </div>
</nav>

<app-rol></app-rol>  

<nav>
  <div class="nav-wrapper  black darken-4">
    <div class="container">
      <a href="#" class="brand-logo center">OPCIONES MENU</a>
    </div>
  </div>
</nav>

<app-opcionesmenus></app-opcionesmenus>  

-->

<router-outlet></router-outlet>